$mainText: #000;
$headerText: #777;
$secondaryText: #3a3a3a;
$mainBackground: #fff;
$secondaryBackground: #e6e6e6;
$tertiaryBackground: #dcdcdc;

$screen-xs: 0px;
$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1280px;
$screen-xl: 1920px;
